#Makefiles
#Makefile

# Swap files
.*.swp
*.swp
*.swo

# Object files
*.o
*.ko
*.obj
*.elf
*.ll
*.s

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Generated
robcmp
bison.hpp
run_test/out/*
src/Language_y.output
.vscode/**
*.tar.gz
*.bin
*.elf
stm32flash
ld.lld
llvm-ar
llvm-as
llvm-objcopy
llvm-ranlib
avr-ld
.vscode
